# Node.js
node_modules/

# Environment Variables
.env

# Logs
logs
*.log
npm-debug.log*

# OS Files
.DS_Store

# IDE Files
.vscode/
.idea/
*.swp

# Optional: ignore build or temp folders if you have
dist/
build/
tmp/
temp/
